---
import Links from '../components/links_generated.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Adhara Docs Site</title>
	</head>
	<body>
		<h1>Adhara Docs Site</h1>
		<Links />
	</body>
</html>
